 nav > ul{
    display: flex;
    font-size: large;
    
 }
nav ul li{
    margin: 0px 20px;
    list-style: none;
}
ul li a{
    text-decoration: none;
}
ul li a:hover{
    background-color: lightgray;
}
/*  nested menu style */
nav li .dropdown{
    display: none;
}
nav li:hover > .dropdown{
    display: block;
    padding-left: 5px;
}