nav ul li{
    display: inline;
    margin-left: 20px;
 }
 nav ul li a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: larger;
 }
 footer{
    text-align: center;
 }